<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		a:link { 
			color:red; 
			text-decoration:underline; 
		} 
		a:visited { 
			color:blue; 
			text-decoration:none; 
		} 
		a:hover { 
			color:red; 
			text-decoration:none; 
		} 
		a:active { 
			color:#FFFFFF; 
			text-decoration:none; 
		} 

		.image-title{font-size:17px;color:red;font-weight:bold;}

		.image ul{list-style:none;}

		.image ul li{float:left;margin-right:30px;margin-left:-20px;}

		#highlight > li{list-style-type:none;padding-bottom: 5px;margin-left: -30px;}

		#attend > li{list-style-type:none;padding-bottom: 5px;margin-left: -30px;}
	</style>
<head>
	<title>
		WIZ | Melamine
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="margin-top: 1px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:43px;background-color:#222222;"><a href="http://www.wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;" class="current_page_item"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Sponsor</a></li>
					</ul>
				</div>
			</div>

			<div id="divcontent" class="content" style="width:1003px;">
				<div style="float:left;width:700px;text-align:left;overflow:hidden;padding-left:5px;"> 
					<span style="font-size:14px;font-weight:bold;color:red;text-align:left;">
						Polyolefin Outlook,3rd-4th March,2016,Bali Indonesia
					</span>
				</div>
				
				<div style="float:left;width:40%;padding-left:5px;padding-top:5px;">
					<h3 style="font-size:14px;">Welcome to Polyolefin Outlook 2016</h3>
					<p>
						Since 2014 till end of 2015, the global PO industry experienced a huge slump in prices.
					</p>
					<p>
						PE was down by close to 50% since Jan 2014 and PP declined by more than 50% since Jan 2014. 
					</p>
					<p>
						When to balance?
					</p>
					<p>
						Join the comprehensive conference and get a helicopter view of the Asian polyolefins industry and local market. Catch the first opportunities from the bouncing bottom.
					</p>
					<p>
						See you in Bali, 2016!
						</br>
						Wiz Business Company
					</p>
				</div>
				<div style="float:left;width:30%;margin-left:12px;padding-top:5px;">
					<h3 style="font-size:14px;margin-left:20px;">Conference News</h3>
					<p>
						<span style="color:blue;font-weight:bolder;">Taghleef Industries</span> confirm to attend the conference Headquartered in Dubai, (U.A.E.), Taghleef Industries (Ti) is one of the largest global manufacturers of BoPP, CPP, BoPLA offering a standard and specialty film manufacturing capacity of more than <span style="color:blue;font-weight:bolder;">410,000 tons</span>.
					</p>
					<p>
						<span style="color:blue;font-weight:bolder;">Iran Consumption of PO and domestic packaging industry</span></br> 
						Iran's Sanction Relief attracted much attention Mr. Jayant Mukherjee from Beroe Consulting will deliver a speech focus on Impact of Iran's Sanction Relief on Consumption of Polyolefin & Domestic Packaging Industry
					</p>
					<p>
						<span style="color:blue;font-weight:bolder;">INAplas Indonesian Olefin & Plastic Association</span> confirm to be the speaker of the conference Indonesia’s plastic industry is growing healthily in line with the country’s increased consumption of all manner of products ranging from food & beverages  to automobile components.
					</p>
				
				</div>
				<div style="float:left;width:25%;margin-left:12px;padding-top:5px;">
					<h3 style="font-size:14px;margin-left:20px;">Who Will Attend 2015</h3>
					<ul id="attend">
						<li>- Polyolefins Producers</li>
						<li>- Olefins producers</li>
						<li>- Resin Producers</li>
						<li>- Plastics Converters & Compounders (PE and PP buyers)</li>
						<li>- Additives & Masterbatch Producers</li>
						<li>- Plastic Collectors & Reclaimers</li>
						<li>- Traders & Distributors</li>
						<li>- Technology & Solution Providers</li>
						<li>- Machine Manufacturers</li>
						<li>- Consultants</li>
						<li>- Investors</li>
						<li>- Logistics</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


 
</body>

</html>