<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		#fee > li{margin-bottom: 5px;}
	</style>
<head>
	<title>
		WIZ | Polyolefin
	</title>
	<style type="text/css">
	.hotel-info{list-style: none;}
	.hotel-info > li {margin-bottom: 5px;margin-left: -40px;}
	</style>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="margin-top: 1px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:43px;background-color:#222222;"><a href="http://www.wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;" class="current_page_item"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Sponsor</a></li>
					</ul>
				</div>
			</div>
			<div id="divcontent" class="content" style="width:1003px;background-color:#f5f4f3;">
				<div style="float:left;width:700px;text-align:left;overflow:hidden;padding-left:5px;"> 
					<span style="font-size:14px;font-weight:bold;color:red;text-align:left;">
						Polyolefin Outlook,3rd-4th March,2016,Bali Indonesia
					</span>
				</div>
				<div style="float:left;width:30%;padding-left:5px;padding-top:5px;">
					<h3 align="center" style="font-size:14px;">Registration</h3>
					<p align="center">Ms. Jenny Yang</p>
					<p align="center">Tel: +86-21-60246389</p>
					<p align="center">E-mail: info@wiz-biz.com</p>
				</div>
				<div style="float:left;width:40%;padding-left:5px;padding-top:5px;">
					<h3 align="center" style="font-size:14px;">Registration fee</h3>
					<ul id="fee">
						<li>Early Bird US$895/per/net Before Jan 30th</li>
						<li>US$ 1295 per/net for 1 person</li>
						<li>US$ 1095 per/net for 2 person from same company</li>
						<li>US$ 895 per/net for 3 or more person from same company</li>
					</ul>
					<p style="margin-left:25px;">
						<span style="font-weight:bold;color:red;">Deadline Feb 19, 2016</span>
					</p>
				</div>

				<div style="float:left;width:98%;margin-left:5px;border-top:1px solid gray;">
					<p>
						The fee includes lunch, dinner, refreshments and conference profile. Accommodation and travel costs are not included.
					</p>
					<p>
						<span style="font-weight:bold;">Payment:</span> Please make the payment within 5 working days after your registration. Official invoice copy will be send to you by email and original invoice will be given to you on the conference spot.
					</p>
					<p>
						<span style="font-weight:bold;">Cancellation:</span> If you cancel attendance, the registration fee will be refunded only if a written request is received before Feb. 19. No refund will be made thereafter. You may substitute delegates at any time and inform organizer before the conference.
					</p>
					<p>
						<span style="font-weight:bold;">Hotel:</span>
						 Accommodation and visa are not included in the conference fee.However, the organizer will be able to help with the reservation of the conference hotel.You can also choose to book other hotel as per your own arrangement.<span style="font-weight:bold;color:red;">Reservation form with more details will be sent to you upon registration confirmation.</span>
					</p>
					<!--
					<p>
						<ul class="hotel-info">
							<li>STANDARD DELUXE SINGLE ROOM  @ DHS 625/+++</li>
							<li>STANDARD DELUXE DOUBLE ROOM  @ DHS 675/+++</li>
							<li>_ ALL ROOM RATES ARE SUBJECT TO 10% TAX AND 10% SERVICE CHARGE PER ROOM PER NIGHT</li>
							<li>_ TOURISM DIRHAM FEE AT AED 20.00 NET PER BEDROOM PER NIGHT APPLICABLE PER BEDROOM/NIGHT</li>
							<li>_ EXTRA BED RATE IS AED 150.00 PER EXTRA BED PER NIGHT</li>
							<li>_ INTERNATIONAL BREAKFAST BUFFET IN AL DANA RESTAURANT IS INCLUSIVE OF THE RATE</li>
							<li>_ BASIC WIFI ACCESS IS INCLUDED</li>
							<li>_ ALL ROOMS ARE SUBJECT TO HOTEL AVAILABILITY. RATES ARE SUBJECT TO CHANGE WITHOUT PRIOR NOTICE</li>
						</ul>
					</p>
					-->
				</div>
			</div>

		</div>
	</div>


 
</body>

</html>
