<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
<head>
	<title>
		WIZ | Polyolefin
	</title>
	<style type="text/css">
		#review > ul > li {list-style-type:none;margin-top: 5px;}
		#review > ul > li > span{display:block;margin-left:15px;color: red;}
		.gray-line{border-top:1px solid gray;margin-bottom:10px;width:100%;}
	</style>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="margin-top: 1px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:43px;background-color:#222222;">
							<a href="http://www.wiz-biz.com/">Home</a>
						</li>
						<li style="width:104px;background-color:#222222;">
							<a href="/event">About Event</a>
						</li>
						<li style="width:111px;background-color:#222222;">
							<a href="/agenda">Event Agenda</a>
						</li>
						<li style="width:128px;background-color:#222222;" class="current_page_item">
							<a href="/speaker">Speaker Profile</a>
						</li>
						<li style="width:102px;background-color:#222222;">
							<a href="/register">Register Me</a>
						</li>
						<li style="width:85px;background-color:#222222;">
							<a href="/sponsor">Sponsor</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="divcontent" style="width:1003px;background-color:#f5f4f3;">
				<!--
				<div>
					<h3 align="center" style="font-size:14px;">Attentions</h3>
					<ul style="margin-left:80px;margin-right:80px;list-style:none;">
						<li>- Please send the 1speech topic, 2outline, 3speaker’s bio data or company info, 4photo before September 25</li>
						<li>- Please send the Speech PPT or PDF Copy before October 30 for further arrangement.</li>
						<li>- We will share speech PDF to all participants after the event. Otherwise, we will keep them confidential.</li>
						<li>- If you are unavailable to give a speech, please recommend someone competent.</li>
						<li>- Time of your keynote speech (Time: 25-30 Minutes) Participants will raise questions after your speech in the Q&A session.</li>
					</ul>
				</div>
				<div align="center" style="border-top:1px solid gray;padding-top:10px;">
					<h3>Review 2013- 2014</h3>
					<img src="/images/speaker.jpg"></img>
				</div>
				-->
				<div id="review">
					<h3 align="center" style="font-size:14px;">Previous Review</h3>
					<p>
						WIZ Business is committed to providing highly informative conference, professional training, factory visit and other customized activities for corporate. We recognize the importance of networking and information for our clients, and aim to hold our events conducive to your business.
					</p>
					<p>
						High quality analysis, precise insights and strategic directions are designed by extensive research, industrial experts and business leaders in all the commodities area including chemicals, food, alternative energy and etc.
					</p>

					<div class="gray-line"></div>
					<h4>Plasticizer & Feedstock (March 13-14, 2014 | KL, Malaysia / March 12, 2015 | HK, China)</h4>
					<p>Related Speakers & Topics Review</p>
					<ul style="list-style:none;">
						<li>
							* Changing Global Crude Slate and its Impact on Trade Flows
   							<span>
   								Platts, Mr. Daniel Colover, Associate Editorial Director
   							</span>
						</li>
						<li>
							* General Chemical Industry Trends and Global Propylene Market Outlook
   							<span>
   								IHS Chemical, Mr. John King, VP Chemical Consulting Asia
   							</span>
						</li>
					</ul>

					<div class="gray-line"></div>
					<h4>Wood Plastic Composites (March 23-24, 2014 | Delhi, India)</h4>
					<p> Related Speakers & Topics Review</p>
					<ul style="list-style:none;">
						<li>
							*  WPC Industry Development and Prospects in China
   							<span>
   								WPC Union China, Mr. Liu Jia, Secretary General
   							</span>
						</li>
						<li>
							* Keen on Green? ... Go for PVC
   							<span>
   								Reliance, Ms. Aruna Kumari, Sr. Manager, Polymer Business
   							</span>
						</li>
					</ul>


					<div class="gray-line"></div>
					<h4>Plastic Recycling Summit (December 3-4, 2015 | BKK, Thailand, Recycling Plastics)</h4>
					<p> Related Speakers & Topics Review</p>
					<ul style="list-style:none;">
						<li>
							*   The Plastic Recycling Industry in China
   							<span>
   								China Scrap Plastics Association, Dr. Steve Wong, Executive President
   							</span>
						</li>
						<li>
							*  Legislation on Plastic Waste Trading and Regulation Enforcement
   							<span>
   								Plastics Institute of Thailand, Mr. Kongsak Dokbua, VP
   							</span>
						</li>
					</ul>

				</div>
			</div>
			
		</div>

	</div>
	
 
</body>

</html>
