<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		#sponsor > li {list-style-type:none;padding-bottom: 5px;margin-left: -40px;}
	</style>
<head>
	<title>
		WIZ | Polyolefin
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="margin-top: 1px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:43px;background-color:#222222;"><a href="http://www.wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;" class="current_page_item"><a href="/sponsor">Sponsor</a></li>
					</ul>
				</div>
			</div>
			<div id="divcontent" class="content" style="width:1003px;background-color:#f5f4f3;">
				<div style="text-align:left;overflow:hidden;padding-left:5px;"> 
					<span style="font-size:14px;font-weight:bold;color:red;text-align:left;">
						Polyolefin Outlook,3rd-4th March,2016,Bali Indonesia
					</span>
				</div>

				<div style="width:98%;padding-left:5px;margin-top:10px;">
					<h3>Sponsor</h3>
					<p>Please Contact for More Well-tailored Package</p>
					<p>Tel: +86-21-60246389</p>
					<p>E-mail: info@wiz-biz.com</p>
				</div>
			<!--
				<div style="width:98%;padding-left:5px;margin-top:10px;">
					<div style="border-top:1px solid gray;margin-bottom:10px;width:98%;"></div>
					<h3>Main Sponsor</h3>
					<img src="/images/mainsponsor.jpg" />
				</div>

				<div style="width:98%;padding-left:5px;margin-top:10px;">
					<div style="border-top:1px solid gray;margin-bottom:10px;width:98%;"></div>
					<h3>MELAMINE</h3>
					<p>Melamine is a key presence in everyone’s life. Laminates, flooring, medium density fiberboards, textiles and other products all owe their hardness, mar-resistance and waterproofing to this chemical compound. For the largest variety of applications melamine faces no competition from other chemicals, shows growth rate above 5% year on year and offers great opportunities of highly profitable investments.</p>
				</div>

				<div style="width:98%;padding-left:5px;margin-top:10px;">
					<div style="border-top:1px solid gray;margin-bottom:10px;width:98%;"></div>
					<h3>EUROTECNICA, THE IDEAL PARTNER IN THE MELAMINE SECTOR</h3>
					<p>
						Established in 1962 in Milan - Italy, Eurotecnica has been steadily growing, becoming one of the world’s most reliable technology provider, engineering and contracting company.
					</p>
					<p>
						Since the late seventies Eurotecnica has been excelling in the design of Melamine plants, rapidly becoming the undisputed world leader in this industry.
					</p>
					<p>
						The melamine process by Eurotecnica, Euromel® Melamine Process, is regarded as best available (BAT). Remarkably implemented in as many as 20 plants worldwide and totaling more than 630,000t/y, Euromel® Melamine Process is a top technology already applied at companies’ premises the likes of Qatar Qafco; Methanol Holding Trinidad; Grupa Azoty Poland; Petrobras Brasil; KHPC Iran; Petrochina, Henan Zhong Yuan Da Hua, Jianfeng Chemical in China, just to mention some of Eurotecnica’s licensees. 
					</p>
					<p>
						Euromel® Melamine Process is a unique one: top product quality, safety, reliability and zero-pollution are its distinctive marks. 
					</p>
					<p>
						Originally introduced in the 1960, this peculiar High-Pressure Non-Catalytic process was ahead of its times and innovative; the very first high-pressure technology ever implemented in a commercial scale plant. The first plant designed and implemented by Eurotecnica was built in Kuwait in the 1970’s. 
					</p>
					<p>
						A proven design and the absence of sophisticated machinery working at supercritical pressure and temperature contribute for the unparalleled reliability and safety that characterize the Eurotecnica melamine plants around the world. Operating time between turn-around can reach 850 days, an outstanding record achieved by the plant of our Iranian client, KHPC. 
					</p>
					<p>
						The remarkable features of this technology grant:
						<ul style="list-style:none;">
							<li>i) the lowest CAPEX and OPEX in this industry</li>
							<li>ii)	the best investment profitability and </li>
							<li>iii) hassle-free operation & maintenance</li>
						</ul>
					</p>
					<p>
						Euromel® is a brand name that identifies the melamine of highest quality produced only through Eurotecnica Melamine Process. Euromel® is not only a synonym of consistent top quality melamine, but also an industrial asset able to create immediate value and premium selling prices to our licensees. 
						Euromel® is registered in more than 45 countries already, representing 85% of the melamine world’s consumption. The distributed network of Eurotecnica’s licensees around four continents is a vehicle for sharing know-how and expertise, besides offering the opportunity of always being updated about technology improvements.
					</p>
				</div>

				<div style="width:98%;padding-left:5px;margin-top:10px;">
					<div style="border-top:1px solid gray;margin-bottom:10px;width:98%;"></div>
					<h3>Technologies PORTFOLIO</h3>
					<p>Eurotecnica’s portfolio in the chemical industry includes some very important technologies for the production of strategic chemical compounds such as:
					<ul style="list-style:none;">
						<li>★ <span style="font-weight:bold;">Melamine</span> (mainly used in laminates, adhesives, coatings, molding compounds, applied to the construction, automotive, dinnerware industries).</li>
						<li>★ <span style="font-weight:bold;">Methanol derivatives</span>
							</br>
							<span style="padding-left: 15px;">Paraformaldehyde (mainly used in melamine resins, herbicide/pesticide, shale oil & gas industries)</span>
							</br>
							<span style="padding-left: 15px;">Pentaerythritol, Trimethylolpropane, Neopentylglycol (mainly used in the painting and coating industry)</span>
						</li>
						
						<li>★ <span style="font-weight:bold;">Carbon Black</span> (mainly used in the manufacturing of tyres, rubber and plastics).</li>
					</ul>
					</p>
				</div>

				<div style="width:98%;padding-left:5px;margin-top:10px;">
					<div style="border-top:1px solid gray;margin-bottom:10px;width:98%;"></div>
					<h3>EUROTECNICA group</h3>
					<p>
					Eurotecnica belongs to Proman Group, a corporation with assets in Germany, Italy, Trinidad & Tobago, Oman, USA, Mexico. Present on four continents and in more than 12 countries, Proman has 31 operating subsidiaries and some 1,500 employees worldwide. The group also includes, Proman, Methanol Holding (Trinidad) Ltd., IPSL, Southern Chemical Corporation, Oman Methanol LLC, Caribbean Nitrogen, Nitro2000. 
					</p>
				</div>
				-->
			</div>
		</div>
	</div>


 
</body>

</html>
